/*noramlize and remove all default*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box; /* excludes padding from being included to calculate h/w. h+w+padding= w/o border-box*/
}

/*font usually specified here */
body {
    font-family: "Lato",sans-serif;
    font-weight:1000;
    font-size:16px;
    line-height:1.7;
    color:#777;
    padding:30px;
}


.header{
    height:95vh; /*95% of viewport height*/
    background-image: linear-gradient(
        to right bottom,
        #847ed5b4,
        #8e7ed5b4),
        url(../img//typer.jpg);
    background-size: cover; /*always tries to cover*/
    background-position: top; /* make sure image doesn't get croped */
    clip-path: polygon(0 0,100% 0, 100% 90%,0 100%);
    position:relative;
}

.logo-box{
    position:absolute;
    top:40px;
    left:40px; /* measurement starts from reference parent */
}

.logo{
    height:55px; /*width will be set by browser. can set either one8? */
}

.text-box{
    position:absolute;
    top:40%; /*50% left of parent */
    left:50%;
    width:1500px;
    transform: translate(-35%,-30%); /*in relation for itself*/
}
.heading-primary{
    color: #fff;
    text-transform:uppercase;
    backface-visibility: hidden; /*back part of element becomes hidden to fix shake*/
}

.heading-primary-main{
    color: #fff;
    text-transform:uppercase;
    display:block; /*occupy entire space and create line breaks after them*/
    font-size:60px;
    font-weight:400;
    letter-spacing: 35px;
    animation-name:moveInLeft; /*two things have to specify*/
    animation-duration:1s;
    animation-timing-function: ease-in;
    
}
.heading-primary-sub{
    color: #fff;
    text-transform:uppercase;
    display:block;
    font-weight:400;
    font-size:20px;
    letter-spacing:15px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes moveInLeft{
    0%{
        opacity:0; /*browsers optimizied for opacity/transform*/
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        opacity:1;
        transform:translateX(0); /* look what it looks at right now*/
    }
}

@keyframes moveInRight{
    0%{
        opacity:0; /*browsers optimizied for opacity/transform*/
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-10px);
    }

    100%{
        opacity:1;
        transform:translateX(0); /* look what it looks at right now*/
    }
}