@keyframes moveInLeft {
  0% {
    opacity: 0;
    /*browsers optimizied for opacity/transform*/
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* look what it looks at right now*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    /*browsers optimizied for opacity/transform*/
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* look what it looks at right now*/ } }

/*noramlize and remove all default*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*set root 10/16 16px is default 10px is what we want*/
  /*adjust when user changes font size or zoom in*/ }

body {
  box-sizing: border-box;
  /* excludes padding from being included to calculate h/w. h+w+padding= w/o border-box*/ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*back part of element becomes hidden to fix shake*/
  margin-bottom: 6rem; }
  .heading-primary--main {
    color: #fff;
    text-transform: uppercase;
    display: block;
    /*occupy entire space and create line breaks after them*/
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /*two things have to specify*/
    animation-duration: 1s;
    animation-timing-function: ease-in; }
  .heading-primary--sub {
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in; }

/*font usually specified here */
body {
  font-family: "Lato",sans-serif;
  font-weight: 1000;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /*30px*/ }

.btn:link, .btn:visited {
  /*special state*/
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /*always do if you want padding on elements*/
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777 .btn--white; }
  .btn--white ::after {
    background-color: #fff; }

.btn::after {
  /*pseudo element put behind */
  content: "";
  display: inline-block;
  /*same as befoer*/
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.header {
  height: 95vh;
  /*95% of viewport height*/
  background-image: linear-gradient(to right bottom, rgba(132, 126, 213, 0.8), rgba(142, 126, 213, 0.8)), url(../img//typer.jpg);
  background-size: cover;
  /*always tries to cover*/
  background-position: top;
  /* make sure image doesn't get croped */
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    /* measurement starts from reference parent */ }
  .header__logo {
    height: 5.5rem;
    /*width will be set by browser. can set either one8? */ }
  .header__text-box {
    position: absolute;
    top: 40%;
    /*50% left of parent */
    left: 50%;
    width: 1500rem;
    transform: translate(-50%, -30%);
    /*in relation for itself*/
    text-align: center; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    /*browsers optimizied for opacity/transform*/
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* look what it looks at right now*/ } }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  /* 0% will be applied first */ }
