@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/grid";
@import "layout/header";

@import "pages/home";









@keyframes moveInBottom{
    0%{
        opacity:0; /*browsers optimizied for opacity/transform*/
        transform: translateY(3rem);
    }

    100%{
        opacity:1;
        transform:translateX(0); /* look what it looks at right now*/
    }
}
.btn--animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; /* 0% will be applied first */
}
